.jumbotron {
    padding-top: 6rem;
    background-color:rgb(255, 191, 230);
}

#projects {
    background-color:rgb(255, 191, 230);
    color: rgb(240, 144, 216);
}

#about {
    background-color:  #e7c0d4;
}

#contact {
    background-color: #e7c0d4;
    color:  rgb(216, 57, 155);

}
.footer {
    background-color: rgb(252, 133, 206);
    color: #ffffff;
}

.navbar {
   background-color: rgb(229, 160, 203);
}

section{
    padding-top: 5rem;
}
